{
  "swagger": "2.0",
  "info": {
    "description": "This is a sample server Petstore server.  You can find out more about     Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).      For this sample, you can use the api key `special-key` to test the authorization     filters.",
    "version": "1.0.0",
    "title": "DSL Metis API",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "dinesh@embibe.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "api.embibe.com",
  "basePath": "/metis_ms/v1",
  "tags": [
    {
      "name": "institute",
      "description": "Everything about your institute"
    },
    {
      "name": "institute_cohort_stats",
      "description": "Cohort stats for institute users"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/institute/{institute_id}": {
      "get": {
        "tags": [
          "institute"
        ],
        "summary": "Get institute stats with institute id",
        "description": "Returns institute details corresponding to parameters",
        "operationId": "institute",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "institute_id",
            "in": "path",
            "description": "institute_id for which response desired",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "from which date data needs to be captured",
            "required": true,
            "type": "string"
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "till what date data needs to be captured",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid institute ID supplied"
          },
          "404": {
            "description": "institute not found"
          }
        }
      }
    },
    "/institute/{institute_id}/{sub_org_id}": {
      "get": {
        "tags": [
          "institute"
        ],
        "summary": "Get institute stats with institute id",
        "description": "Returns institute details corresponding to parameters",
        "operationId": "institute_sub_org",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "institute_id",
            "in": "path",
            "description": "institute_id for which response desired",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "sub_org_id",
            "in": "path",
            "description": "institute_id's sub organization id for which response desired",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "from which date data needs to be captured",
            "required": true,
            "type": "string"
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "till what date data needs to be captured",
            "required": true,
            "type": "string"
          },
          {
            "name": "target_year",
            "in": "query",
            "description": "target_year for institute students of whose data needs to be captured",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid institute ID supplied"
          },
          "404": {
            "description": "institute not found"
          }
        }
      }
    },
    "/institute_cohort_stats/{institute_id}": {
      "get": {
        "tags": [
          "institute_cohort_stats"
        ],
        "summary": "Get institute cohortwise stats for institute id",
        "description": "Returns similar response as institute but with cohortwise details corresponding to parameters given",
        "operationId": "institute_cohort_stats",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "institute_id",
            "in": "path",
            "description": "institute_id for which response desired",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "from which date data needs to be captured",
            "required": true,
            "type": "string"
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "till what date data needs to be captured",
            "required": true,
            "type": "string"
          },
          {
            "name": "goal_id",
            "in": "query",
            "description": "goal id for which data needs to be captured",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid institute ID supplied"
          },
          "404": {
            "description": "institute not found"
          }
        }
      }
    },
    "/institute_cohort_stats/{institute_id}/{sub_org_id}": {
      "get": {
        "tags": [
          "institute_cohort_stats"
        ],
        "summary": "Get institute cohortwise stats for institute id",
        "description": "Returns similar response as institute but with cohortwise details corresponding to parameters given",
        "operationId": "institute_sub_org_cohort_stats",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "institute_id",
            "in": "path",
            "description": "institute_id for which response desired",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "sub_org_id",
            "in": "path",
            "description": "institute_id's sub organization id for which response desired",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "from which date data needs to be captured",
            "required": true,
            "type": "string"
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "till what date data needs to be captured",
            "required": true,
            "type": "string"
          },
          {
            "name": "goal_id",
            "in": "query",
            "description": "goal id for which data needs to be captured",
            "required": true,
            "type": "integer"
          },
          {
            "name": "target_year",
            "in": "query",
            "description": "target_year for institute students of whose data needs to be captured",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid institute ID supplied"
          },
          "404": {
            "description": "institute not found"
          }
        }
      }
    },
    "/institute_monetization_stats/{institute_id}": {
      "get": {
        "tags": [
          "institute_monetization_stats"
        ],
        "summary": "Get institute cohortwise students enrolled on products (which are stated in IDB) for institute id",
        "description": "Returns cohortwise students enrolled on products ( which are stated in IDB) corresponding to parameters given",
        "operationId": "institute_cohort_stats",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "institute_id",
            "in": "path",
            "description": "institute_id for which response desired",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "from which date data needs to be captured",
            "required": true,
            "type": "string"
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "till what date data needs to be captured",
            "required": true,
            "type": "string"
          },
          {
            "name": "goal_id",
            "in": "query",
            "description": "goal id for which data needs to be captured",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid institute ID supplied"
          },
          "404": {
            "description": "institute not found"
          }
        }
      }
    },
    "/institute_monetization_stats/{institute_id}/{sub_org_id}": {
      "get": {
        "tags": [
          "institute_monetization_stats"
        ],
        "summary": "Get institute cohortwise students enrolled on products (which are stated in IDB) for institute id",
        "description": "Returns cohortwise students enrolled on products ( which are stated in IDB) corresponding to parameters given",
        "operationId": "institute_sub_org_monetization_stats",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "institute_id",
            "in": "path",
            "description": "institute_id for which response desired",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "sub_org_id",
            "in": "path",
            "description": "institute_id's sub organization id for which response desired",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "from which date data needs to be captured",
            "required": true,
            "type": "string"
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "till what date data needs to be captured",
            "required": true,
            "type": "string"
          },
          {
            "name": "goal_id",
            "in": "query",
            "description": "goal id for which data needs to be captured",
            "required": true,
            "type": "integer"
          },
          {
            "name": "target_year",
            "in": "query",
            "description": "target_year for institute students of whose data needs to be captured",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid institute ID supplied"
          },
          "404": {
            "description": "institute not found"
          }
        }
      }
    },
    "/student/{user_id}": {
      "get": {
        "tags": [
          "student"
        ],
        "summary": "Get User student details",
        "description": "Returns student detail for given parameters",
        "operationId": "student",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "institute_id for which response desired",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "from which date data needs to be captured",
            "required": true,
            "type": "string"
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "till what date data needs to be captured",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid institute ID supplied"
          },
          "404": {
            "description": "institute not found"
          }
        }
      } 
    },
    "/students/{csv_user_ids}": {
      "get": {
        "tags": [
          "students"
        ],
        "summary": "Get bulk students details",
        "description": "Returns studentwise detail for given parameters",
        "operationId": "students",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "csv_user_ids",
            "in": "path",
            "description": "comma separated user ids for which details are desired",
            "required": true,
            "type": "string"
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "from which date data needs to be captured",
            "required": true,
            "type": "string"
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "till what date data needs to be captured",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid institute ID supplied"
          },
          "404": {
            "description": "institute not found"
          }
        }
      } 
    },
    "/students/bulk": {
      "post": {
        "tags": [
          "students"
        ],
        "summary": "Get bulk students details",
        "description": "Returns studentwise detail for given parameters",
        "operationId": "students_bulk",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "user_ids",
            "in": "body",
            "description": "comma separated user ids for which details are desired",
            "required": true,
            "type": "string"
          },
          {
            "name": "start_date",
            "in": "body",
            "description": "from which date data needs to be captured",
            "required": true,
            "type": "string"
          },
          {
            "name": "end_date",
            "in": "body",
            "description": "till what date data needs to be captured",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid institute ID supplied"
          },
          "404": {
            "description": "institute not found"
          }
        }
      } 
    }
  },
  "definitions": {
    "institute": {
      "type": "object",
      "required": [
        "institute_id"
      ],
      "properties": {
        "institute_id": {
          "type": "integer",
          "format": "int64",
          "example": "856"
        },
        "start_date": {
          "type": "string",
          "example": "2019-01-01"
        },
        "end_date": {
          "type": "string",
          "example": "20190-02-01"
        }
      }
    }
  }
}
